<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Contador de Pessoas</title>

		<link rel="stylesheet" type="text/css" href="/peopleCounter/css/fornecedores/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/peopleCounter/css/contador.css">
	</head>
	<body>

		<nav class="navbar  navbar-inverse  navbar-static-top">

			<div class="container barra-navegacao  col-lg-12">
				<a href="#" class="navbar-brand  logotipo">
					<img src="/peopleCounter/layout/img/senai-logo.png" alt="logotipo senai" class="img-responsive">
				</a>
			</div>

		</nav>

		<h1 class="cabecalho" >Contador de Pessoas</h1>
		<div>
			<h1 class="quantidade-pessoas">0</h1>
			
		</div>
		<h1 class="descricao">Pessoas na sala</h1>



		<script src="/peopleCounter/javascripts/fornecedores/jquery-2.2.4.min.js"></script>
		<script src="/peopleCounter/javascripts/fornecedores/bootstrap.min.js"></script>
		<script src="/peopleCounter/javascripts/peopleCounter.js"></script>
	</body>
</html>